@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1366px;
}
.header-logo {
  height: 61px;
  display: flex;
  justify-content: space-between;
  width: 1028px;
  height: 61px;
  margin-left: 160px;
  padding-top: 46px;
  padding-bottom: 17px;
}
.header-logo a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
}
.logo-icon {
  background-image: url(../img/logo.png);
  width: 53px;
  height: 47px;
  margin-right: 8px;
}
.logo {
  display: flex;
}
.logo-text {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: center;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 400;
}
.logo:hover {
  filter: invert(46%) sepia(49%) saturate(2408%) hue-rotate(348deg)
    brightness(98%) contrast(94%);
}

.header-contacts a:hover {
  color: #f26522;
}
.logo-text h1 {
  font-size: 29px;
}
.logo-text h2 {
  font-size: 18px;
}
.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  grid-column-gap: 60px;
  grid-row-gap: 55px;
  align-items: center;
  text-align: center;
  margin-left: 165px;
  margin-bottom: 50px;
}
.main-portfolio__item {
  width: 300px;
  height: 220px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 35px;
}
.container img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.main-portfolio__item a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  border: 1px solid transparent;
}
.main-portfolio__preview {
  display: none;
  box-sizing: border-box;
  background-color: #f26522;
  height: 55px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 1px;
  font-family: "Roboto";
}
.main-portfolio__preview-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 55px;
  padding-left: 16px;
  float: left;
}

.main-portfolio__preview p {
  font-size: 10px;
  color: white;
}

.main-portfolio__preview span {
  font-size: 20px;
  color: white;
}

.main-portfolio__preview a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Roboto";
  height: 55px;
  font-size: 14px;
  position: relative;
  padding-right: 37px;
}
.main-portfolio__preview a::after {
  content: ">";
  color: white;
  position: absolute;
  right: 10px;
}

.main-portfolio__item:hover .main-portfolio__preview,
.main-portfolio__item a:hover .main-portfolio__preview {
  display: block;
  z-index: 1000px;
  bottom: 0;
}

.main-portfolio__item a:not(.main-portfolio__preview a):hover {
  color: #f26522;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: flex-end;
}
footer p {
  color: #fff;
  font-size: 12px;
  font-family: "Roboto";
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}
