@media screen and (max-width: 933px) {
  .recent-posts__content {
    @include displayFlex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .header-menu nav {
    max-width: 768px;
    align-content: center;
  }
  .head-img {
    max-width: 768px;
    box-sizing: border-box;
    max-height: 360px;
  }
}

@media screen and (max-width: 480px) {
  .head-img {
    max-width: 480px;
    box-sizing: border-box;
    max-height: 150px;
  
  }
  
  .recent-posts__content--item {
    @include displayFlex;
    max-height: 100%;
    text-align: center;
    &-text{
      display: none
    }
  }
  #burger {
    @include displayFlex;
    height: 37px;
    width: 37px;
    background-color: $burgerBg;
    @include centerItems;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  .container {
    position: relative;

    padding: 20px 0;
    width: 100%;
  }
  .burger-line__1,
  .burger-line__2,
  .burger-line__3 {
    width: 30px;
    height: 2px;
    background-color: $burgerLinesColor;
    margin: 2px 0;
    transition: 0.4s;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    @include centerItems;
    background-color: #f5f5f5;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.4s;
    overflow: hidden;
    position: absolute;
    right: -106px;
    top: -12px;
    z-index: 99999;
    &__item{
      padding: 8px;
    }
    &__item:hover{
      background-color: $navBarBg;
    }
  }
  .active{
    display: flex;
  }
  
  .change .burger-line__1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 3px);
    transform: rotate(-45deg) translate(-5px, 3px);
  }
  .change .burger-line__3 {
    -webkit-transform: rotate(41deg) translate(-5px, -5px);
    transform: rotate(41deg) translate(-5px, -5px);
  }
  .change .burger-line__2 {
    opacity: 0;
  }
}
