.footer-title{
    color: #fff;
    margin-top: 70px;
}
.footer{
  display: flex;
  flex-direction: column;
    background-color: #000;
  max-width: 1200px;
    text-align: center;
    border: 1px solid transparent;
    margin-top: 50px;
    align-items: center;
    &-text{
      font-size: 16px;
      font-family: $MainFont;
      color: $footerText;
      line-height: 26px;
      max-width: 700px;
      text-align: center;
    }
    &-social{
      margin-top: 40px;
      margin-bottom: 35px;
    }
    &-social img{
      border-radius: 100%;
      padding: 11px;
      margin-right: 5px;
    }
}

.rss{
  border: $footerBorder #F8902E ;
}
.facebook{
  border: $footerBorder #39599F;
  border-radius: 50px;
  padding: 11px 15px;
}
.twitter{ 
  border:$footerBorder #45B0E3;
}
.dribble{
 border: $footerBorder #D97AB0;
}
.pinterest{
  border: $footerBorder #CC212C;
}

.footer p:last-child{
  margin-bottom: 70px;
}