.head-img{
    background-image: url(/src/img/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    margin-top: 50px;
    width: 1170px;
    height: 550px;
    // margin: 0 auto;
}
