.header-menu {
  display: flex;
  max-width: 1200px;
  justify-content: space-evenly;
  list-style-type: none;

  margin-bottom: 50px;
  margin-top: 50px;

  &__item {
    text-transform: uppercase;
  }
  &__item a {
    text-decoration: none;
    font-size: 11px;
    font-family: "Roboto";
    color: $TextColor;
    letter-spacing: 1.1px;
  }
  &__item a:hover {
    color: $blueTextColor;
    cursor: pointer;
  }
}
