.content-title {
  font-family: $MainFont;
  font-size: 16px;
  font-style: bold;

  text-transform: uppercase;
  color: $TextColor;
  margin-top: 70px;
  margin-bottom: 20px;
}
.recent-posts__content {
  display: grid;
  grid-template-columns: 555px 555px;
  grid-template-rows: 140px 140px;
  gap: 30px;
  &--item img {
    margin-right: 20px;
  }
  &--item{
    display: flex;
    align-items: flex-end;
    max-width: 555px;
    max-height: 140px;
    margin-right: 25px;
    vertical-align: top;
  }
  &--item-title{
    font-family: $MainFont;
    color: $TextColor;
    font-size: 16px;
    font-weight: bold;
  }
  &--item-text__small{
    font-family: $MainFont;
    color: $smallText;
    font-size: 12px;
  }
  &--item-text{
    font-family: $MainFont;
    font-size: 14px;
    color: $lightGreyText;
  }
}

.center{
  margin-left: 200px;
  margin-right: 200px;
}
.recent-posts__container{
  max-width: 1200px;
}