$TextColor: #4E4E4E;
$MainFont:'Roboto';
$footerBorder: 2px solid;
$footerText: #B9B9B9;
$smallText: #7c7c7c;
$lightGreyText: #5c5c5c;
$blueTextColor: #57a4a4;
$burgerBg: #000;
$burgerLinesColor: #fff;
$navBarBg: #e5e5e5;