@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.header-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 54px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  margin-right: 70px;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header a:hover {
  color: #3cb878;
}
.header .header-logo:hover {
  color: #3cb878;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icons h2 {
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;
  margin-left: 25px;
  position: relative;
}
.header-icons h2::before {
  content: "";
  height: 19px;
  width: 1px;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: -27px;
}
.header .header-logo {
  font-family: "Ubuntu";
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
  margin-left: 79px;
}
.header-icons__item {
  margin-right: 25px;
}
.header-icons:last-child {
  margin-right: 53px;
}
.header-icons .header-icons__item:hover {
  filter: invert(58%) sepia(81%) saturate(320%) hue-rotate(96deg)
    brightness(89%) contrast(93%);
}

.main-form {
  background-color: #fff;
  margin-top: 54px;
  position: relative;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  border: 1px solid transparent;
  margin: 0 auto;
  width: 444px;
  max-height: 584px;
}

.form-head {
  display: flex;
  justify-content: space-between;
  margin: 31px 61px 15px;
  align-items: center;
}
.form-head::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}
.form-head h2 {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: #434343;
  margin: 0;
}
.form-head a {
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #3cb878;
}

.form-head a:hover {
  text-decoration: underline;
  color: #01813f;
}
.form-social {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.form-social a {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.form-social i {
  color: #fff;
  margin: 12px 16px;
  font-size: 24px;
}
.form-social__button {
  display: flex;
  flex-wrap: nowrap;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
}
.form-social__button:first-child {
  background-color: #305db8;
}
.form-social__button:last-child {
  background-color: #df4a32;
  cursor: pointer;
}
.form-social__button:first-child:hover {
  background-color: #022263;
  cursor: pointer;
}
.form-social__button i {
  margin-left: 0px;
}
.form-social__button i::after {
  content: "";
  height: 28px;
  width: 1px;
  position: absolute;
  background-color: #0a162f;
  opacity: 10%;
  left: 50px;
  top: 10px;
}
.form-social__button:last-child:hover {
  background-color: #ab1f09;
}
.form-social__googleplus i {
  margin-left: 0px;
}
.form-separator {
  color: #848484;
  font-family: "Ubuntu";
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin-bottom: 11px;
}
.form-separator::before,
.form-separator::after {
  content: "";
  height: 0px;
  width: 150px;
  border: 1px solid #f2f2f2;
  position: absolute;
  background-color: #f2f2f2;
}
.form-separator::before {
  left: 58px;
  top: 8px;
}
.form-separator::after {
  right: 58px;
  top: 8px;
}
.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-input input:not(:last-child) {
  margin-bottom: 15px;
}
.form-input input {
  width: 324px;
  height: 45px;
  font-family: "Ubuntu";
  font-size: 14px;
  padding-left: 18px;
  align-items: center;
  color: #434343;
  font-weight: 400;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}
.form-input input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border: 1px solid transparent;
}
.form-checkbox__label {
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #434343;
  position: absolute;
  left: 30px;
  top: 5px;
}

.form-checkbox__label a {
  text-decoration: none;
  color: #3cb878;
}
.form-checkbox__label a:hover {
  text-decoration: underline;
}
.form-checkbox {
  margin: 12px 60px 20px;
  position: relative;
}
.form-checkbox input {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 4px;
  top: 5px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #01813f;
  border-bottom: 4px solid #01813f;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.form-input__button {
  width: 332px;
  height: 46px;
  font-family: "Ubuntu";
  font-size: 16px;
  align-items: center;
  color: #fff;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 18px;
  margin: 0 60px 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #3cb878;
}
.form-input__button:hover {
  background-color: #01813f;
  cursor: pointer;
}

#theme-button{
  font-size: 20px;
  height: 100px;
  
