@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.header-background{
  /* width: 100%; */
  background-color: rgba(201, 245, 40, 0.4);
  /* margin-bottom: 54px; */
}

.header a {
  text-decoration: none;
  color: rgb(250, 115, 115);
}
.header a:hover {
  color: #0af51e;
}
.header .header-logo:hover {
  color: #07f513;

}

.header-icons h2 {
  color: rgb(238, 180, 180);

}
.header-icons h2::before {

  background-color: rgba(247, 225, 225, 0.9);

}
.header .header-logo {

  font-weight: normal;
  color: rgb(247, 15, 15);

}


.main-form {
  background-color: rgb(236, 190, 38);

  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  border: 1px solid red;

}

.form-head::before {

  background-color: #1ef30b;

}
.form-head h2 {
  color: #070707;
}
.form-head a {

  color: #12ec2f;
}

.form-head a:hover {
  text-decoration: underline;
  color: #13f313;
}

.form-social a {
  color: rgb(209, 157, 157);

}

.old .form-social i {
  color: rgb(124, 226, 252);

}

.form-social__button:first-child {
  background-color: #0055ff;
}
.form-social__button:last-child {
  background-color: #f50707;
  cursor: pointer;
}
.form-social__button:first-child:hover {
  background-color: #1f5e6e;
  cursor: pointer;
}

.form-social__button i::after {

  background-color: #233d75;
  opacity: 10%;
  left: 50px;
  top: 10px;
}
.form-social__button:last-child:hover {
  background-color: #f38406;
}

.form-separator {
  color: #141414;

}
.form-separator::before,
.form-separator::after {

  border: 1px solid #2f0dee;

  background-color: #2f0dee;
}

.form-input input {

  color: #627a7a;

  border: 1px solid #e43f3f81;
  border-radius: 4px;
  outline: none;
}
.form-input input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border: 1px solid transparent;
}
.form-checkbox__label {
  color: #0a19f0;
}

.form-checkbox__label a {
  text-decoration: none;
  color: #21a8dd;
}

.form-input__button {

  color: #fff;

  border: 1px solid aqua;

  background-color: #14b6df;
}
.form-input__button:hover {
  background-color: #017881;
  cursor: pointer;
}

#theme-button{
  font-size: 20px;
  height: 100px;
  background-color: rgb(128, 57, 57);
}