.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.wrapper.open {
  height: 100%;
  display: block;
}

.wrapper.close {
  height: 0;
  display: none;
}

.body {
  max-width: 500px;
  margin: auto;
  margin-top: 15%;
  border-radius: 10px;
  max-height: 100%;
  overflow-y: scroll;
  color: black;
}

.header {
  display: flex;
  justify-content: space-around;
  background: rgb(227, 66, 59);
  max-width: 100%;
  padding: 10px;
  align-items: center;
}

.message {
  background: rgb(243, 71, 35);
  padding: 20px;
}

.body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.close-modal {
  display: block;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.body h2 {
  text-align: left;
  width: 100%;
  margin: 0;
}

.actions {
  width: 100px;
  height: 40px;
  background-color: brown;
  margin: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.footer {
  background: rgb(243, 71, 35);
}
.buttons__wrapper {
  display: flex;
  height: 200px;
  width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
button {
  height: 35px;
  width: 150px;
  color: white;
}
