@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  margin: 60px auto;
}

.head-logo__link {
  text-decoration: none;
}
.head-logo {
  font-family: "Roboto";
  font-size: 80px;
  color: black;
  margin-bottom: 60px;
  margin-top: 50px;
}

.head-logo-color {
  color: skyblue;
  font-family: "Roboto";
  font-size: 80px;
  font-style: normal;
}
.main-container a {
  text-decoration: none;
}

.main-menu {
  display: flex;
  background-color: #35444f;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;
}
.main-menu:first-child {
  margin-left: 0;
}
.main-menu:last-child {
  margin-right: 0;
}

.main-menu__item {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  border: 1px solid white;
  padding: 26px 33px 19px 33px;
}
.main-menu__item a {
  color: white;
  text-decoration: none;
}

.main-menu__item:hover {
  background: #222f3a;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 50px;
  align-content: flex-start;
}
.main-content__left-side {
  display: block;
  border: 1px solid black;
  width: 344px;
  height: 400px;
  padding: 26px 44px 0 50px;
}

.main-content__left-side-item {
  font-family: "Roboto";
  font-size: 24px;
  padding-bottom: 40px;
}

.main-content__left-side-item a {
  text-decoration: none;
  color: #495863;
}
.main-content__left-side-item:hover {
  background: #dbdbdb;
  color: black;
  text-align: center;
  box-shadow: inset;
}

.main-content__right-side {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  /* margin: 50px auto; */
  text-align: center;
}
.main-content__right-side-img {
  display: block;
  overflow: hidden;
  background: transparent;
  border: 1px solid #000000;
  padding: 70px 270px;
  border: 1px solid black;
  /* margin: 50 auto; */
  margin-left: 50px;
}
.main-content__right-side-img img {
  transition: 1s;
  display: block;
}

.main-content__right-side-img:hover {
  transform: scale(1.1);
}

.main-content__right-side-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 885px;
  text-align: start;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  margin-left: 60px;
  margin-top: 37px;
}
p {
  margin-top: 34px;
}

.footer-menu__nav-list {
  padding: 0px;
  width: 100%;
}

.footer-menu__nav-item {
  display: inline-block;
}

.footer-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  padding-left: 30px;
  margin-top: 50px;
}
.footer-menu__nav-item a {
  font-size: 28px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  text-decoration: none;
  margin: 10px;
}
.footer-menu__nav-item a:hover {
  color: #3181a6;
  text-decoration: underline;
}

.footer-menu__nav-item:first-child a {
  margin-left: 0px;
}

.footer-copyright {
  font-size: 24px;
  line-height: 24px;
  display: flex
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 190px;
  height: 60px;
}
