@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Dela Gothic One";
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}
.title {
  text-transform: uppercase;
  font-size: 75px;
  text-align: center;
}
.text {
  font-size: 45px;
  margin-bottom: 50px;
  line-height: 50px;
}
#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(30deg);
}
#titles:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(
    top,
    rgba (0, 0, 0, 1) 0%,
    transparent 100%
  );
  pointer-events: none;
}
#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
