nav li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 0;
    margin: 10px;
    padding: 25.5px;
    width: 150px;
}
header{
    max-width: 1280px;
    margin:0 auto;
}

.header-btn {
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: red;
    text-decoration: none;
    padding: 15px;
    height: 15px;
    top: 31.5px;
    width: 150px;
}
.background {
    width: 1280px;
    height: 789px;
    background: no-repeat url("../homework 2(Simple Photo)/img/image 1.png");
    background-image: url("../homework 2(Simple Photo)/img/image 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Montserrat';
}

.paragraph {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: normal ;
    letter-spacing: 2.4px;
    line-height: 26px;
    font-style: normal;
    
    width: 1280px;

}
.btn {
    display: block;
    border: red;
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    




}

.footer {
    display: flex;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 16px;
    float: right;
    letter-spacing: 2.4px;
    align-items: center;
    font-weight: bold;

}
