@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  background-color: #f2f2f2;
}
a {
  color: white;
  text-decoration: none;
}
#slide{
  display: inline-block;
  text-align: center;
  align-items: center;
  height: 70px;
  width: 100px;
  color:#081303;
  background-color: #fff;

}
div.up-button {
  position: fixed;
  color: #89ca62;
  background-color: #14b9d5;
  right: 20px; 
  bottom: 20px; 
  padding: 5px 10px;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  text-align: center;
}
div.up-button:hover {
  background-color: #156789; 
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #313131;
  color: white;
  font-family: "Open Sans";
  height: 70px;
  margin-bottom: 0;
  width: 100%;
  position: fixed;
}
.header-section {
  display: flex;
  align-items: center;
}
.header-item {
  padding: 35px;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.header-item:first-child {
  margin-left: 200px;
}
.header-item a:hover {
  color: #14b9d5;
  text-decoration: underline;
}
.header-menu {
  display: flex;
  justify-content: center;
}
.header-logo {
  padding: 25px;
}
#architect {
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: bold;
  font-weight: 600;
  margin-left: 27px;
  margin-bottom: 22px;
}
.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 68px;
}

.background {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 370px;
  margin-top: 0px;
  overflow: hidden;
  background-attachment: fixed;
}
.background a {
  order: 1;
}
.background__title {
  margin-top: 144px;
  font-family: "Open Sans";
  font-size: 27px;
  font-style: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 44px;
}
.background__button {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 18px;
}
.background__button-left {
  background-color: #89ca62;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 16px 20px;
  width: 170px;
  height: 55px;
  margin-right: 20px;
}
.background__button-right {
  background-color: #14b9d5;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 16px 20px;
  width: 170px;
  height: 55px;
}
.most-popular {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  width: 1300px;
  max-height: 1030px;
  margin: 40px auto;
  flex-grow: 1;
 
}
.most-popular .popular__title {
 
  display: flex;
  justify-content: center;
}
.popular__title {
  text-align: center;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #18b4cf;
  

}

.most-popular__img {
  width: 370px;
  border: 1px solid transparent;
  box-sizing: border-box;


}

.sign {
  box-sizing: border-box;
  border: 1px solid transparent;
  overflow: hidden;
  max-width: 370px;
}
.figcaption {
  text-align: center;
  align-content: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  height: 19px;
  background-color: #fff;
  padding: 15px 0px 15px 0px;
  padding-left: 0px;
  margin-top: -1px;
  margin-bottom: 30px;
}
.popular-clients {
  height: 590px;
  width: 100%;
  background-image: url(../img/mpbackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 135px;
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  background-attachment: fixed;
}
.popular-clients__title {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 106px;
}
.popular-clients hr {
  background-color: #18b4cf;
  width: 60px;
  height: 3px;
  text-align: center;
  border: none;
  margin-top: 85px;
  margin-bottom: 115px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands img:not(:last-child) {
  margin-right: 61px;
}

.top-rated__img {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 271px);
  grid-gap: 0;
}

.hot-news__img {
  display: grid;
  width: 1400px;
  grid-template-columns: repeat(10, 120px);
  grid-template-rows: repeat(10, 200);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  
}
.hot-news__img .hot-news__img-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.hot-news__img-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-content: center;
}
.hot-news__img1-description {
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  position: relative;
}

.hot-news__img1-text-location {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 484px;
}

}
.hot-news__img2-description .hot-news__img-title {

  background-color: #f9f7f7;
}



.hot-news__img1-description{

  align-items: start;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  
}
.hot-news__img2-description{
  background-color: #f9f7f7;
  grid-column-start: 9;
  grid-column-end: 10;
}
.hot-news__img2{
  margin-bottom: 0;
}
.hot-news__img2-description figcaption{
  width: 277px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hot-news__img3-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;

  
}
.hot-news__img4-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 4;

}
.hot-news__img5-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;

}
.hot-news__img6-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
 
}
.hot-news__img7-description figcaption{
  width: 277px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hot-news__img7-description{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
}

.hot-news__img7-description .hot-news__img-title {

  background-color: #f9f7f7;
}
.hot-news__img8-description {
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 6;
  
}

.hot-news__img8-text-location {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 484px;
}
.hot-news__img8-description img{
  text-align-last: left;
}
.foooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 80px;
  margin-top: 77px;
}
.copyright{
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  margin-left: 330px;
}
.foooter-logo:last-child{
  align-items: center;
  text-align: center;
  margin-left: 3px;
  margin-right: 400px;
}